body
{
	background-image: url('../images/concrete_seamless.png');
}

header
{
	padding-right: 25px;
	padding-left: 25px;
	background-color: pink;
}

.name
{
	padding-top: 25px;
	padding: bottom 25px;
	background-color: teal;
	width: 200px;
	text-align: center;
	padding-bottom: 25px;
	margin-left: 100px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 30px;
}

.tabs
{
	border-color: 
}

li
{
	background-color: white;
	display: inline;
	float: right;
}





.profileimg
{
	width: 200px;
	height: 200px;
}

.iconimg
{
	width: 50px;
	height: 50px;
}

h1
{
	color: blue;
	font-family: "Arial", san-serif;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
}